### R Studio ###
.Rproj.user/
*.Rproj

### R Environment ###
.Renviron
.Rprofile
.RData
.Rhistory
.Rapp.history
.Ruserdata
.Rdata

### Package Development ###
*-Ex.R
inst/doc
docs/
vignettes/*.html
vignettes/*.pdf

### Build Artifacts ###
/*.tar.gz
/*.Rcheck/

### Cache Files ###
*_cache/
/cache/
.httr-oauth

### Documentation ###
*.utf8.md
*.knit.md

### System Files ###
.DS_Store
.quarto

### Dependency Management ###
renv/
renv.lock
/doc/
/Meta/
